pandas
requests
psycopg2-binary
python-dotenv
transformers
torch
newspaper3k
beautifulsoup4
sentence-transformers
keybert
google-generativeai
streamlit
bert-extractive-summarizer
spacy
sumy
nltk
matplotlib
hdbscan
lxml_html_clean
numpy==1.26.4
scipy==1.12.0
scikit-learn==1.4.2